.container
  .back_btn
    = link_to :back do
      = image_tag 'backbtn.png'
    .top_center
      %h2= current_user.account_name
    .menu_btn.dropdown
      = image_tag 'menu-icon.png'
      .dropdown-content
        = link_to 'ログアウト',destroy_user_session_path, data: { method: 'delete'}
  .profile_avatar
    .dropdown
      = image_tag current_user.avatar_image
      .dropdown-content
        = link_to 'プロフィール編集',edit_profile_path
  .profile_info
    %p Posts
    %p Followers
    %p Following
- current_user.photos.each do |photo|
  .user_post
    - if photo.images.attached?
      .user_image1
        = image_tag photo.images[0]
    - if photo.images.length > 1
      .user_image2.set_flex
        = image_tag photo.images[1]
    - if photo.images.length > 2
      .user_image3
        = image_tag photo.images[2]
= javascript_pack_tag 'profile'