.container
  %ul
    - @photo.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @photo, local: true) do |f|
    %div
      = f.label :images, '画像'
    %div
      = f.file_field :images, multiple: true
    %div
      = f.label :title, '内容'
    %div
      = f.text_area :content
    %div
      = f.submit '保存', class: 'btn'
